<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xsi:schemaLocation="NLog NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <rules>
        <logger name="*" minlevel="Debug" writeTo="console" />
    </rules>
    <targets>
        <target name="console" xsi:type="Console"          
          layout="${longdate}|${pad:padding=20:fixedLength=true:inner=${mdlc:item=taskType}}|${pad:padding=5:fixedLength=true:inner=${event-properties:item=action}}|${pad:padding=20:fixedLength=true:inner=${mdlc:item=taskName}}|${message}" />
    </targets>
</nlog>
